body{
    border-radius: 10px;
    border: 3px solid #f6520a;
}
header{
    border-bottom: 2px solid #f6520a;
    padding: 10px 0;
}
.header_menu{
    align-items: center;
    gap: 15px;
    display: flex;
}
.header_menu .bar{
    cursor: pointer;
}
.header_menu .slide_toggle_bar{
    gap: 10px;
}
.header_menu .slide_toggle_bar.hidden {
    opacity: 0;
    transition: 0.5s;
}
.header_menu .mn {
    padding: 5px 20px;
    border: 1px solid #f6520a;
    border-radius: 7px;
}
.bar i{
    font-size: 20px;
}
a{
    text-decoration: none !important;
}
.header_menu .mn:hover{
    background: #f6520a;
    border: none;
}
.header_menu .mn:hover a{
    color: #fff;
}
.header_menu .mn a {
    font-weight: 400;
    color: #000;
    font-size: 17px;
}
.header_total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_register{
    display: flex;
    gap: 10px;
}
.header_register a span{
    color: #00aeef;
    font-size: 18px;
    font-weight: 600;
}
.header_register a span:hover{
    color: #f6520a;
}
main{
    margin: 20px 0;
}
footer .link_footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer .link_footer a.link{
    color: #f6520a;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
footer .link_footer a.link:after {
    color: #000;
    content: '|';
    margin-left: 10px;
}
footer .address{
    font-weight: 500;
    color: #000;
    font-size: 17px;
    text-align: center;
}
footer .copyright{
    justify-content: center;
    display: grid;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
    border-radius: 10px;
    margin: 5px 5px;
}
footer .copyright p{
    font-weight: 500;
    color: #f6520a;
    margin: 0;
    padding: 5px 0;
}
.footer_bottom{
    display: none;
    margin-bottom: 5px;
}
footer .copyright .back_top{
    top: 4px;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0 0px 10px 10px;
    border: 1px solid #000;
    width: 200px;
    height: 9px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.footer_bottom.hidden {
    display: block;
    transition: 0.5s;
}
.header_register.account_signin{
    border: 1px solid #000;
    display: flex;
    gap: 17px;
    border-radius: 5px;
    padding: 5px 5px 5px 30px;
    align-items: center;
}
.header_register.account_signin .account{
    text-align: center;
    line-height: 1.2;
}
.header_register.account_signin .account p{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}
.header_register.account_signin .account a{
    color: #00bcd4;
    font-size: 15px;
    font-weight: 600;
}
.header_register.account_signin .bar{
    cursor: pointer;
}
@media screen and (min-width: 1024px){
    .container {
        max-width: 1060px;
    }
}