body{
    border: 5px solid #f6520a;
    background: #f6520a;
    /* padding: 0px 0px 0px 0px; */
    background: #f6520a !important;
}
#body_project{
    background: #fff;
    border-radius: 14px;
    border: 1px solid #f6520a;
}
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #c1c1c1;
}

header{
    border-bottom: 2px solid #f6520a;
    padding: 10px 0;
}
.header_menu{
    align-items: center;
    gap: 15px;
    display: flex;
}
.header_menu .bar{
    cursor: pointer;
}
.header_menu .slide_toggle_bar{
    gap: 10px;
}
.header_menu .slide_toggle_bar.hidden {
    opacity: 0;
    transition: 0.5s;
}
.header_menu .mn {
    padding: 5px 20px;
    border: 1px solid #f6520a;
    border-radius: 7px;
}
.bar i{
    font-size: 20px;
}
a{
    text-decoration: none !important;
}
.header_menu .mn:hover{
    background: #f6520a;
    border: none;
}
.header_menu .mn:hover a{
    color: #fff;
}
.header_menu .mn a {
    font-weight: 400;
    color: #000;
    font-size: 17px;
}
.header_total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_register{
    display: flex;
    gap: 10px;
}
.header_register a span.account{
    color: #00aeef;
    font-size: 18px;
    font-weight: 600;
}
.header_register a span:hover{
    color: #f6520a;
}
main{
    margin: 10px 0;
}
footer .link_footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer .link_footer a.link{
    color: #f6520a;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
footer .link_footer a.link:after {
    color: #000;
    content: '|';
    margin-left: 10px;
}
footer .address{
    font-weight: 500;
    color: #000;
    font-size: 17px;
    text-align: center;
}
footer .copyright{
    justify-content: center;
    display: grid;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
    border-radius: 10px;
    margin: 5px 5px;
}
footer .copyright p{
    font-weight: 500;
    color: #f6520a;
    margin: 0;
    padding: 5px 0;
}
.footer_bottom{
    display: none;
    margin-bottom: 5px;
}
footer .copyright .back_top{
    top: 4px;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0 0px 10px 10px;
    border: 1px solid #000;
    width: 200px;
    height: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
footer .copyright .back_top span{
    position: absolute;
    top: -9px;
}
.footer_bottom.hidden {
    display: block;
    transition: 0.5s;
}
.header_register.account_signin{
    border: 1px solid #000;
    display: flex;
    gap: 17px;
    border-radius: 5px;
    padding: 5px 5px 5px 30px;
    align-items: center;
}
.header_register.account_signin .account{
    text-align: center;
    line-height: 1.2;
}
.header_register.account_signin .account p{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}
.header_register.account_signin .account a{
    color: #00bcd4;
    font-size: 15px;
    font-weight: 600;
}
.header_register.account_signin .bar{
    cursor: pointer;
}
.header_register.account_signin{
    position: relative;
}
.account_signin_nav_tab .asnt{
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    font-size: 17px;
    border: 1px solid #000;
    width: max-content;
    min-width: 200px;
    text-align: center;
}
.account_signin_nav_tab .asnt span{
}
.account_signin_nav_tab{
    left: 9px;
    display: flex;
    top: 50px;
    flex-wrap: wrap;
    position: absolute;
    visibility: hidden;
}
.account_signin_nav_tab.open {
     visibility: visible;
 }
.list_project .project_title {
    padding: 5px 20px;
    border: 1px solid #f6520a;
    border-radius: 7px;
    background: #fff;
}
.list_project #nav-tab{
    gap: 3px;
    align-items: center;
}
.name_project{
    display: flex;
    align-items: center;
    gap: 10px;
}
.name_project h4{
    color: blue;
    font-size: 19px;
    margin: 0;
}
.title_project_right .total_project span{
    cursor: pointer;
}
.title_project_right{
    align-items: center;
    justify-content: space-between;
}
.name_project span{
    color: blue;
    font-size: 20px;
}
.content_child_title_left {
    overflow-y: auto;
    max-height: 670px;
}
.content_child_title_left::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.content_child_title_left::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

.content_child_title_left::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #c1c1c1;
}
.tab-content-child{
    overflow-y: auto;
    max-height: 670px;
}
.tab-content-child::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.tab-content-child::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

.tab-content-child::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #c1c1c1;
}
.add_project_title{
    filter: brightness(0.5);
    color: #000;
    cursor: pointer;
}
.list_project .tab_child.active {
    background: #f6520a;
    color: #fff;
}
.list_project .tab_child.active:not(:first-child){
    border-radius: 0;
}
.list_project .tab_child:hover{
    background: #f6520a;
    color: #fff;
}
.list_project .project_title.active {
    color: #fff;
    background: #f6520a;
}
.list_project .project_title:hover{
    color: #fff;
    background: #f6520a;
}
.list_project .tab_child:not(:first-child):hover{
    border-radius: 0;
}
.list_project .tab_child {
    padding: 0 15px;
    border-bottom: 1px solid #000 !important;
    border: 1px solid #eee;
    border-radius: 10px 0 0 0;
    background: #fff;
}
.list_project .tab-content{
    border-radius: 10px;
}
.list_project .tab-content-child{
    border-left: 1px solid #eee;
}
#nav-tabContent-inner h3 {
    font-weight: 500;
    font-size: 18px;
}
#nav-tabContent-inner h3 .pra{
    font-size: 15px;
}
#nav-tabContent-inner a.change{
    padding-left: 20px;
    color: #00bcd4;
    font-size: 18px;
    font-weight: 600;
}
.button-content h4{
    text-align: start;
    margin: 15px 0 0 0;
}
.button-content p{
    text-align: start;
    font-weight: 400;
    line-height: 1.2;
}
#nav-tabContent .content_child{
    min-height: 670px;
}
.content_child .add_project_title{
    width: 100%;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}
#mobile_menu {
    position: fixed;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
    max-width: 95%;
    z-index: 999;
    background-color: #fff;
    width: 250px;
    border-right: 1px solid #e9e9e9;
    transition: all .4s cubic-bezier(.46, .01, .32, 1);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
}
.bg-cover.active {
    display: block;
}
.bg-cover {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
    z-index: 99;
    display: none;
}
.container {
    max-width: unset !important;
    padding: 0 30px !important;
}
@media (max-width: 991px) {
    #mobile_menu.active {
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    #mobile_menu .head {
        font-size: 15px;
        text-transform: uppercase;
        background: #f6520a;
        color: #fff;
        position: relative;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }
    .header_menu .slide_toggle_bar{
        display: none !important;
    }
    #mobile_menu .head p {
        margin: 0;
    }
    #mobile_menu ul.chir_menu_mobile {
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #mobile_menu .chir_menu_mobile li {
        list-style: none;
        padding: 15px 10px;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
    }
    #mobile_menu .chir_menu_mobile li a {
        color: #000;
        font-size: 16px;
        width: 100%;
        display: block;
    }
    #mobile_menu .chir_menu_mobile li a i {
        margin-top: 4px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: transform .6s ease;
        position: absolute;
        right: 10px;
        top: 15px;
        font-size: 16px;
        width: 20px;
        height: 20px;
        text-align: center;
    }
    .header_register.account_signin .account p{
        font-size: 13px;
    }
    .header_register.account_signin .account a{
        font-size: 13px;
    }
    .header_register.account_signin .account{
        line-height: 1.0;
    }
    .header_register.account_signin{
        padding: 5px 5px 5px 20px;
    }
    .account_signin_nav_tab{
        left: 0;
        top: 40px;
    }
    .account_signin_nav_tab .asnt{
        font-size: 13px;
        min-width: 170px;
    }
    .list_project > nav{
        flex-wrap: wrap;
    }
    .name_project h4,.name_project span{
        font-size: 15px;
    }
    .title_project_right {
        width: 100%;
    }
    #nav-tabContent .content_child{
        flex-wrap: wrap;
    }


}