body{
    border-radius: 10px;
    border: 3px solid #f6520a;
}
header{
    border-bottom: 2px solid #f6520a;
    padding: 10px 0;
}
.header_menu{
    align-items: center;
    gap: 15px;
    display: flex;
}
.header_menu .bar{
    cursor: pointer;
}
.header_menu .slide_toggle_bar{
    gap: 10px;
}
.header_menu .slide_toggle_bar.hidden {
    opacity: 0;
    transition: 0.5s;
}
.header_menu .mn {
    padding: 5px 20px;
    border: 1px solid #f6520a;
    border-radius: 7px;
}
.bar i{
    font-size: 20px;
}
a{
    text-decoration: none !important;
}
.header_menu .mn:hover{
    background: #f6520a;
    border: none;
}
.header_menu .mn:hover a{
    color: #fff;
}
.header_menu .mn a {
    font-weight: 400;
    color: #000;
    font-size: 17px;
}
.header_total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_register{
    display: flex;
    gap: 10px;
}
.header_register a span.account{
    color: #00aeef;
    font-size: 18px;
    font-weight: 600;
}
.header_register a span:hover{
    color: #f6520a;
}
main{
    margin: 10px 0;
}
footer .link_footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer .link_footer a.link{
    color: #f6520a;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
footer .link_footer a.link:after {
    color: #000;
    content: '|';
    margin-left: 10px;
}
footer .address{
    font-weight: 500;
    color: #000;
    font-size: 17px;
    text-align: center;
}
footer .copyright{
    justify-content: center;
    display: grid;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
    border-radius: 10px;
    margin: 5px 5px;
}
footer .copyright p{
    font-weight: 500;
    color: #f6520a;
    margin: 0;
    padding: 5px 0;
}
.footer_bottom{
    display: none;
    margin-bottom: 5px;
}
footer .copyright .back_top{
    top: 4px;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0 0px 10px 10px;
    border: 1px solid #000;
    width: 200px;
    height: 9px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.footer_bottom.hidden {
    display: block;
    transition: 0.5s;
}
.header_register.account_signin{
    border: 1px solid #000;
    display: flex;
    gap: 17px;
    border-radius: 5px;
    padding: 5px 5px 5px 30px;
    align-items: center;
}
.header_register.account_signin .account{
    text-align: center;
    line-height: 1.2;
}
.header_register.account_signin .account p{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}
.header_register.account_signin .account a{
    color: #00bcd4;
    font-size: 15px;
    font-weight: 600;
}
.header_register.account_signin .bar{
    cursor: pointer;
}
.header_register.account_signin{
    position: relative;
}
.account_signin_nav_tab .asnt{
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    font-size: 17px;
    border: 1px solid #000;
    width: max-content;
    min-width: 200px;
    text-align: center;
}
.account_signin_nav_tab .asnt span{
}
.account_signin_nav_tab{
    left: 9px;
    display: flex;
    top: 50px;
    flex-wrap: wrap;
    position: absolute;
    visibility: hidden;
}
.account_signin_nav_tab.open {
     visibility: visible;
 }
.list_project .project_title {
    padding: 5px 20px;
    border: 1px solid #f6520a;
    border-radius: 7px;
    background: #fff;
}
.list_project #nav-tab{
    gap: 10px;
    align-items: center;
}
.add_project_title{
    filter: brightness(0.5);
    color: #000;
    cursor: pointer;
}
.list_project .tab_child.active {
    background: #f6520a;
    color: #fff;
}
.list_project .tab_child.active:not(:first-child){
    border-radius: 0;
}
.list_project .tab_child:hover{
    background: #f6520a;
    color: #fff;
}
.list_project .project_title.active {
    color: #fff;
    background: #f6520a;
}
.list_project .project_title:hover{
    color: #fff;
    background: #f6520a;
}
.list_project .tab_child:not(:first-child):hover{
    border-radius: 0;
}
.list_project .tab_child {
    padding: 0 15px;
    border-bottom: 1px solid #000 !important;
    border: 1px solid #eee;
    border-radius: 10px 0 0 0;
    background: #fff;
}
#nav-tabContent-inner h3 {
    font-weight: 500;
    font-size: 18px;
}
#nav-tabContent-inner h3 .pra{
    font-size: 15px;
}
#nav-tabContent-inner a.change{
    padding-left: 20px;
    color: #00bcd4;
    font-size: 18px;
    font-weight: 600;
}
.button-content h4{
    text-align: start;
    margin: 15px 0 0 0;
}
.button-content p{
    text-align: start;
    font-weight: 400;
    line-height: 1.2;
}
#nav-tabContent .content_child{
    min-height: 670px;
}
.content_child .add_project_title{
    width: 100%;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}
@media screen and (min-width: 1024px){
    .container {
        max-width: 1060px;
    }
}